.classPage {
	.btn {
		font-size: 1.1em;
	}

	.adminOverview {
		&__members {
			display: grid;
			grid-template-columns: 1fr 1fr;

			@include respond-to('medium') {
				gap: .5rem;
			}
		}
	}

	&__tests {
		@include space-contents;

		&__container {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		@include respond-to('medium') {
			&__container {
				flex-direction: row;
				justify-content: space-between;

				div {
					width: 100%;
				}
			}
		}
	}
}
