.dashboard__stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	.dashboard__stat {
		text-align: center;
		padding: 1rem;

		h2 {
			color: $primary-colour;
			margin: .75rem 0;
			font-weight: bold;
		}
	}

	@include respond-to('medium') {
		grid-template-columns: repeat(3, 1fr);
	}
}
