.testPage {
	&__testResultWrapper {
		@include space-contents;
		margin: 2rem 0;
	}

	&__testResult {
		display: flex;
		align-items: center;
		gap: 1rem;

		&__grade {
			background: #ddd;
			color: $secondary-colour;
			padding: 1rem;
			border-radius: 10px;
			font-weight: bold;
			font-size: 1.5em;
		}

		&__score {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__edit {
			form {
				padding-top: 1rem;
				gap: .5rem;

				input[type='submit'] {
					padding: .2rem 0;
				}

				@include respond-to('medium') {
					width: 50%;
				}

				@include respond-to('large') {
					width: 20%;
				}
			}
		}
	}
}
