<nav class='adminNav'>
	<div class='adminNav__items'>
		{{> adminNavItem content='Dashboard' icon='gauge' to='dashboard' current=current }}
		{{> adminNavItem content='Classes' icon='chalkboard-user' to='classes' current=current }}
		{{> adminNavItem content='Tests' icon='book-open' to='tests' current=current }}
		{{> adminNavItem content='Reports' icon='chart-column' to='reports' current=current }}
	</div>
	<div class='adminNav__profile'>
		<div class='details'>
			<img alt='Profile picture' src='/assets/profilePlaceholder.jpg' width=50 height=50 />
			<span>{{ name }}</span>
		</div>
		<a class='logout' href='/logout'><i class='fa-solid fa-arrow-right-from-bracket'></i>Logout</a>
	</div>
</nav>
