<tr data-id='{{ id }}'>
	<td>{{ date }}</td>
	<td>{{ name }}</td>
</tr>

<script>
	document.querySelector('.adminTable tr[data-id="{{id}}"]').addEventListener(touchEvent, (e) => {
		const path = e.path || (e.composedPath && e.composedPath());
		const test = path[1];
		window.location.href = `/admin/test/${test.getAttribute('data-id')}`;
	});
</script>
