<div class='feature'>
	<img src='{{img}}' alt='{{alt}}' height=195 width=377 />
	<div class='feature__text'>
		<h2 class='feature__title'>{{title}}</h2>
		<p class='feature__content'>{{content}}</p>
	</div>
</div>
