<nav class='mainNav'>
	<a href='/'>
		<img src='/assets/logo-inline.svg' alt='Stratos logo image' height=60 width=182 />
	</a>
	<div class='mainNav__buttons'>
		{{>button style='full' colour='primary' to='/login' content='Log In'}}
		{{>button style='outline' colour='primary' to='/register' content='Sign Up'}}
	</div>
</nav>
