<div class='testimonial'>
	<i class='fas fa-quote-right testimonial__icon'></i>
	<p class='testimonial__content'>{{content}}</p>
	<div class='testimonial__separator'></div>
	<div class='testimonial__author'>
		<p>{{author}}</p>
		<p>{{position}}</p>
	</div>
</div>
