<!DOCTYPE html>
<html lang='en'>
	{{> head title=title }}
	<body>
		{{> adminHeader }}
		{{> adminNav active='dashboard'}}
		<main class='adminContent'>
			{{{ body }}}
		</main>
		{{> scripts }}
	</body>
</html>
