<!DOCTYPE html>
<html lang='en'>
	{{> head title=title }}
	<body>
		<script>
			const touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
		</script>
		{{> adminHeader }}

		{{#neq userType 'parent'}}
			{{> adminNav current=current name=name }}
			<main class='adminContent'>
		{{else}}
			<main class='adminContent adminContent--full'>
		{{/neq}}

			{{{ body }}}
		</main>
		{{> scripts }}
		<script>
			const toggle = document.querySelector('.adminNav-toggle');
			const nav = document.querySelector('.adminNav');

			toggle.addEventListener(touchEvent, () => {
				nav.style.display =
					(nav.style.display === 'flex')
						? 'none'
						: 'flex';

				toggle.classList.toggle('fa-bars');
				toggle.classList.toggle('fa-close');
			});
		</script>
	</body>
</html>
