<!DOCTYPE html>
<html lang='en'>
	{{> head title=title }}
	<body>
		<script>
			const touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
		</script>
		{{> mainNav }}
		{{{ body }}}
		{{> scripts }}
	</body>
</html>
