.adminContent {
	box-sizing: border-box;
	min-height: calc(100vh - 80px);
	background-color: $admin-bg;
	padding: .5rem 1rem .5rem 1rem;

	@include respond-to('medium') {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include respond-to('large') {
		margin-left: 20vw;
		margin-top: 80px;
	}
}

.adminItem {
	padding: .7rem;
	background-color: white;
	border-radius: 15px;
}

.adminSection {
	margin: 1rem 0;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 1rem;
	}

	h2 {
		color: $primary-colour;
		font-weight: bold;
		margin-left: .5rem;
	}
}

.adminTable {
	background-color: $admin-bg;
	padding: 1rem;
	border-radius: 15px;

	table {
		width: 100%;
		border-spacing: 0;
	}

	tbody tr {
		@include on-event() {
			background-color: white;
			cursor: pointer;
		}
	}

	th {
		text-align: left;
	}

	td, th {
		padding: .5rem 1rem;
	}
}
