.adminNav {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 82vh;
	background-color: $primary-colour;
	padding: 3rem 0;
	padding-top: 5rem;
	z-index: 50;

	&__profile {
		display: flex;
		flex-direction: column;
		padding-bottom: 4rem;

		img {
			border-radius: 100%;
		}

		.details {
			display: flex;
			align-items: center;
			gap: 1rem;
			color: white;
		}

		.logout {
			align-self: flex-end;
			text-decoration: underline;
		}

		@include respond-to('large') {
			padding-bottom: 0;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	@include respond-to('large') {
		display: flex;
		width: 20vw;
		height: 87vh;
	}
}
