.adminContent {
	box-sizing: border-box;
	min-height: calc(100vh - 80px);
	background-color: $admin-bg;
	padding: .5rem 1rem .5rem 1rem;

	@include respond-to('medium') {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include respond-to('large') {
		margin-left: 20vw;
		margin-top: 80px;
	}
}

.adminItem {
	padding: .7rem;
	background-color: white;
	border-radius: 15px;

	div &__title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include respond-to('medium') {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

.adminSection {
	margin: 1rem 0;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 1rem;
	}

	h2 {
		color: $primary-colour;
		font-weight: bold;
		margin-left: .5rem;
	}
}

.adminTable {
	background-color: $admin-bg;
	padding: 1rem;
	border-radius: 15px;

	h3 {
		color: $primary-colour;
	}

	table {
		width: 100%;
		border-spacing: 0;
	}

	tbody tr {
		@include on-event() {
			background-color: white;
			cursor: pointer;
		}
	}

	th {
		text-align: left;
	}

	td, th {
		padding: .5rem 1rem;
	}
}

.adminOverview {
	@include space-contents;

	&__buttons {
		display: flex;
		justify-content: center;
		gap: 1rem;

		@include respond-to('medium') {
			flex-direction: column;
			justify-content: space-around;
			text-align: center;
		}
	}

	@include respond-to('medium') {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.adminStats {
	@include space-contents;

	&__stats {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: .5rem;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			background: $admin-bg;
			padding: .5rem;
			border-radius: 10px;

			h3 {
				color: $primary-colour;
				font-size: 1.3em;
			}

			&:nth-child(odd):last-child {
				grid-column-end: span 2;

				@include respond-to('medium') {
					grid-column-end: span 1;
				}
			}
		}

		@include respond-to('medium') {
			grid-template-columns: repeat(5, 1fr);
		}

	}

	&__graphs {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		div {
			box-sizing: border-box;
			background: $admin-bg;
			padding: 10rem 0;
			width: 100%;
			text-align: center;
			border-radius: 20px;
		}

		@include respond-to('medium') {
			flex-direction: row;
		}
	}

	@include respond-to('medium') {
		@include space-contents(1rem);
	}
}
