{{> mainPageHeader name='Password Recovery' }}

<div class='mainForm'>
	<form action='/change-password' method='post'>
		<input type='password' id='password' name='password' placeholder='New password' required/>
		<input type='password' id='confPassword' name='confPassword' placeholder='Confirm new password' required/>

		<input type='hidden' id='uuid' name='uuid' value='{{ uuid }}' required/>
		<input type='hidden' id='token' name='token' value='{{ token }}' required/>

		<input type='submit' class='btn btn--primary' value='Change password'/>
	</form>
	<a href='/login'>Back to login</a>
</div>
