<section class='classes'>
	{{#each classes}}
		{{> class name=name teacher=teachers.[0] id=id }}
	{{/each}}
</section>

<script>
	const classes = document.querySelectorAll('.classes__class');
	classes.forEach(c => {
		c.addEventListener('click', () => {
			window.location.href =
				`/admin/class/${c.getAttribute('data-id')}`;
		});
	});
</script>
