<section class='dashboard'>
	<div class='adminSection dashboard__stats'>
		{{#each stats}}
			<div class='dashboard__stat adminItem'>
				<h2>{{value}}</h2>
				<span>{{text}}</span>
			</div>
		{{/each}}
	</div>
	<div class='adminSection'>
		<div class='adminItem'>
			<h2>Recent Tests</h2>
			<div class='adminTable'>
				{{> testTable tests=recentTests}}
			</div>
		</div>
	</div>
	<div class='adminSection'>
		<div class='adminItem'>
			<h2>Upcoming Tests</h2>
			<div class='adminTable'>
				{{> testTable tests=upcomingTests}}
			</div>
		</div>
	</div>
</section>
