{{> mainPageHeader name='Log Out' }}

<div class='formContainer'>
	<p style='text-align: center;'>You are logged in as <span class='hl'>{{ name }}</span></p>
	<form action='/logout' method='post'>
		<input type='submit' class='btn btn--primary btn--full' value='Log Out'/>
	</form>
</div>
