{{> mainPageHeader name='Password Recovery' }}

<div class='mainForm'>
	<form action='/password-reset' method='post'>
		<input type='email' id='email' name='email' placeholder='Email Address' required/>

		<input type='submit' class='btn btn--primary' value='Request a password reset'/>
	</form>
	<a href='/login'>Back to login</a>
</div>
