{{> mainPageHeader name='Sign Up' }}

<div class='mainForm'>
	<form action='/register' method='post'>
		<div class='input-group'>
			<input type='text' id='fname' name='fname' placeholder='First Name' required/>
			<input type='text' id='lname' name='lname' placeholder='Last Name' required/>
		</div>

		<input type='text' id='onames' name='onames' placeholder='Middle Name(s)'/>
		<input type='email' id='email' name='email' placeholder='Email Address' required/>
		<input type='password' id='password' name='password' placeholder='Password' required/>
		<input type='password' id='confPassword' name='confPassword' placeholder='Confirm Password' required/>

		<input type='submit' class='btn btn--primary' value='Sign Up'/>
	</form>
	<a href='/login'>Already got an account? Log in</a>
</div>
