<section class='adminSection'>
	<div class="adminItem">
		<h2>{{pageTitle}}</h2>
		<div class='formContainer'>
			<form action='{{postLink}}' method='post'>
				<p>Are you sure that you want to remove <span class='hl'>{{u.fullName}}</span>?</p>
				<input type='submit' class='btn btn--primary btn--full' value='Yes, remove'/>
			</form>
		</div>
	</div>
</section>
