<section>
	<div class='adminSection'>
		<div class='adminItem'>
			<div class='adminItem__title'>
				<h2>Test Results - {{ testName }}</h2>
				{{> button style='full' colour='primary' to=addLink size='lg' content='Add new result'}}
			</div>
			<div>
				{{#if testResults.length}}
					{{#each testResults}}
						{{> testResult result=this userType=../userType edit=true linkRoot=../linkRoot}}
					{{/each}}
				{{else}}
					{{#eq userType 'account'}}
						You have not submitted any results yet
					{{else}}
						Your test result has not been submitted yet
					{{/eq}}
				{{/if}}
			</div>
		</div>
	</div>
</section>
