@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/normalise';

@import 'base/typography';

@import 'components/mainNav';
@import 'components/button';
@import 'components/feature';
@import 'components/testimonial';
@import 'components/title';
@import 'components/form';
@import 'components/mainPageHeader';

@import 'pages/index';
