.formContainer {
	margin: 2rem auto;
	width: 85vw;

	a {
		display: block;

		&:not(.formContainer__small-link) {
			margin: 1rem;
			text-align: center;
			font-size: 1.2em;
		}
	}

	@include respond-to('large') {
		width: 40vw;
	}
}

form {
	display: grid;
	gap: 1rem;

	.input-group {
		display: grid;
		gap: 1rem;
	}

	input:not([type='submit']), textarea, select {
		background: #E1E1E1;
		border: none;
		width: 100%;
		resize: none;
		box-sizing: border-box;
		border-radius: .25rem;
		padding: 1rem;

		&::placeholder {
			color: #686868;
		}

		&:focus {
		    outline: 1px solid grey;
		}
	}

	input[type='submit'] {
		width: 100%;
		padding: 1rem 0;
	}

	@include respond-to('medium') {
		.input-group {
			grid-template-columns: 1fr 1fr;
		}
	}
}

