body {
	font-family: $text-font-stack;
	color: $text-colour;
}

a {
	color: $primary-colour;
	text-decoration: none;

	@include on-event() {
		text-decoration: underline;
	}
}

span.hl {
	color: $primary-colour;
	font-weight: bold;
}
