<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head', { title: 'Stratos - Error' }) %>
</head>
<body>
	<h1>Error</h1>

	<span class='code'><%= code %></span>
	<span class='msg'><%= msg %></span>
</body>
</html>
