@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin respond-to($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);

	@if $value != null {
		@media (min-width: $value) {
			@content;
		}
	}

	@else {
		@warn 'No value could be retrieved from `#{$breakpoint}`. '
		+ 'Please make sure it is defined in `$breakpoints` map.';
	}
}

@mixin hide-column($colNum) {
	th, td {
		&:nth-child(#{$colNum}) {
			display: none;
		}
	}
}

@mixin show-column($colNum) {
	th, td {
		&:nth-child(#{$colNum}) {
			display: table-cell;
		}
	}
}
